= render 'shared/errors', object: @vendor

= form_with model: [ @vendor ] do | f |
  
  .mb-3.form-group
    = f.label :name, class: 'mb-1'

    = f.text_area :name, class: 'form-control'

  - if action_name == 'edit'
    .container.row.justify-content-center
      .col-auto
        = f.submit 'Update', class: 'btn btn-outline-primary'
      .col-auto
        = link_to 'New', new_vendor_path, class: 'btn btn-outline-secondary'
  - else
    = f.submit 'Add', class: 'btn btn-outline-primary'
